*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 35px;
    background: pink;
   /*opacity: 0.95;*/
}
#death{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: purple;
    height: 150%;
    width: 100%;
}
.centerDIV{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    
}
#chooseCharacter{
    justify-content: space-around;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    background: pink;
    height: 110%;
    width: 100%;
}
.character{
    margin-top: 40px;
    background: purple;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 230px;
    margin: 5px;
}
#SMS{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    background: #4585c0;
    height: 600px;
    width: 900px;
}
#imageGO {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1920px;
    height: 1600px;
}
.characterPrint {
    display: none;
}

.container *{
    margin: 20px;
}
#image{
    height: 400px;
    width: 500px;
}
p{
    font-size: 30px;
    color: #000000;
}
#inp {
    width: 250px;
}
body {
    background-size: 100%;
}
#imageYW {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1920px;
    height: 1220px;
}
.passiv {
    display: none;
}
.aktiv {
    display: flex;
}