*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid black;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 35px;
    background: pink;
    opacity: 0.95;
}
.container *{
    margin: 20px;
}
#image{
    height: 400px;
    width: 500px;
}
p{
    font-size: 30px;
    color: #000000;
}
#inp {
    width: 250px;
}
body {
    background-size: 100%;
}
#imageGO {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1750px;
    height: 1220px;
}
#imageYW {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1750px;
    height: 1220px;
}
.imagePassiv {
    display: none;
}