p {
        font-size: 25px;
        color: #000000;
}
body {
        background-size: 100%;
}
#div1 {
        height: 150px;
        width: 300px;
        border: 5px solid rgb(0, 0, 0);
        margin-right: 170px;
        border-radius: 35px;
        background: rgb(247, 180, 247);
}
#div2 {
        height: 250px;
        width: 300px;
        border: 5px solid rgb(0, 0, 0);
        margin-right: 170px;
        border-radius: 35px;
        background: rgb(247, 180, 247);
} 
#div3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 150px;
        width: 300px;
        border: 5px solid rgb(0, 0, 0);
        margin-right: 170px;
        border-radius: 35px;
        background: rgb(247, 180, 247);
}
#pCanvas {
        position: absolute;
        top: 0px;
        left: 400px;
}
#inpK {
        width: 250px;
}
